/* thead tr th:nth-child(1){
    width: 20px;
}
thead tr th:nth-child(3){
    width: 80px;
}
thead tr th:nth-child(5){
    width: 400px;
}
tbody tr td:nth-child(4), td:nth-child(3){
    text-align: center;
}
.act{
    text-align: center;
}
button a{
    
    color: white;
} */
